.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
}

a>span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
}

a>span:hover {
    color: red;
}

.header__icon {
    height: 50px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

@media (max-width : 576px) {
    .navBar {
        display: none;
    }

    .posterImage__overlay,
    .headerRight {
        display: none;
    }
}